

.appWrapper {
    background-color: #131c29;
    /*min-height: 920px;*/
    color: rgba(225, 235, 245, .9);
    display: grid;
    grid-template-areas:

  "n c";

    grid-template-columns: 1fr 6fr;
    /*grid-gap: 10px;*/
    /*margin: 20px;*/
}

.appWrapperContent {
    padding: 30px;
    grid-area: c;
    background-color: rgba(25,34,49, 1);

}

.header {
    grid-area: h;
}

.navbar {
    grid-area: n;
}