.navbarClass {
    grid-area: n;
    padding: 20px;
}

.links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 5px;
    width: inherit;
    margin-top: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    /*text-align: center;*/
    color: rgba(225, 235, 245, .7);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    width: inherit;
}

.link {
    width: inherit;
    transition: 0.3s;
    line-height: 25px;
}

.link:hover {
    border-radius: 20px;
    background-color: #1C2636;
    transition: 0.3s;
}

.linkActive {
    border-radius: 20px;
    background-color: #1C2636;
    transition: 0.3s;
}


