.contentHolder {
    display: grid;
    grid-gap: 20px;
}

.settingsHeader {
    font-weight: 400;
    font-style: italic;
}

.onOffButton {
    margin-left: 20px;
    /*padding-left: ;*/
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 0 solid #FFFFFF;
    transition: 0.5s;
}

.onOffButton:hover{
    background-color: #255FB0;
    transition: 0.3s;
}

.itemName {
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 400;
    font-size: 20px;
}

.name {

}

.status {
    /*text-align: right;*/
    font-size: 16px;
    line-height: 20px;
    margin-top: 3px;
}

.settings {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 290px;
    border: 1px solid #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.usingTimer {
    /*padding-left: 10px;*/
    margin-left: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.checkBoxTex {
    padding-top: 3px;
}

.checkBox {
    width: 20px;
    height: 20px;
    transition: 0.5s;
}

.offIfAway {
    margin-left: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.routes {
    padding-top: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-gap: 20px;
}

.checkboxes {

}

.timeInputs {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.timePickerDescription {
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttons {

}

button:focus {
    outline: none;
}