.contentWrapper {
    min-height: 900px;
}

.mainHeader {
    color: rgba(225, 235, 245, 0.7);
    font-size: 20px;
}

.optionsWrapper {
    background-color: #24344d;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.commonOptions {
    border-right-style: solid;
    border-right-width: 2px;
    border-image: linear-gradient(to bottom, transparent, rgba(224, 235, 245, .9), transparent) 1 1%;
    /*padding-right: -20px;*/
    margin-right: 30px;
}

.developerOptions {
    /*margin-left: 20px;*/
}
/*border-image: linear-gradient(to bottom, transparent, rgba(225, 235, 245, .9), transparent) 1 1%;*/


.option {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.optionText {
    padding-top: 7px;
}

.controlElement {
    text-align: center;
}

.lampOptions {
    border-radius: 30px;
    background-color: #1C2636;
    /*background-color: #24344d;*/
    /*background-color: #131c29;*/
    margin-top: 20px;
    padding: 20px;
}
.subSectionHeader {
    /*text-align: center;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*margin-right: 40px;*/
    font-size: 18px;
    font-style: italic;
}

.options {
    /*margin-top: 30px;*/
    transition: 0.5s;
}

.optionsUnfolded {
    /*height: max-content;*/
    height: 102px;
    transition: 0.5s;
    opacity: 1;
    /*display: block;*/
    transition-property: height, opacity;
}

.optionsFolded {
    /*display: none;*/
    transition-property: height, opacity;
    opacity: 0;
    height: 0;
    transition: 0.5s;
}